- localized_cache static_cache_key_for(:landing) do
  .hero
    .hero-inner
      .hero-copy
        %h1#logo
          = image_tag("logo-white-shadow.png", alt: 'Timetacking')
        %h2
          = t("pages.slogan")
        = link_to new_accounts_path, class: "button" do
          .flip
            .flip-front
              %span
                = raw(t("pages.free_trial"))
            .flip-back
              %span
                = raw(t("pages.free_trial"))
  .main
    .copy
      %p
        Korzystaj z nowoczesnych rozwiązań
        Zapewniamy proste i wygodne rejestrowanie czasu nad spędzonymi zadaniami

  .browsers
    .browser
      .browser-top-bar
        .browser-circle
        .browser-circle
        .browser-circle
      .browser-content
    .browser
      .browser-top-bar
        .browser-circle
        .browser-circle
        .browser-circle
      .browser-content
    .browser
      .browser-top-bar
        .browser-circle
        .browser-circle
        .browser-circle
      .browser-content
  #pricing.pricing
    %h1
      = t("pages.prices")
    .cards
      .card
        = link_to new_accounts_path do
          .card-image.free
            %p
              = t("pages.freelance")
        .card-header
          = t('pages.free')
        .card-copy

        .card-stats
          %ul
            %li
              5
              %span
                = t("pages.users")
            %li
              = t("pages.unlimited")
              %span
                = t("pages.project_entries")
      .card
        .ribbon-wrapper
          .ribbon Popularny
        = link_to new_accounts_path do
          .card-image.medium
            %p
              = t("pages.small_team")
        .card-header
          25zł / miesiąc
        .card-copy

        .card-stats
          %ul
            %li
              25
              %span
                = t("pages.users")
            %li
              = t("pages.unlimited")
              %span
                = t("pages.project_entries")
      .card
        = link_to new_accounts_path do
          .card-image.enterprise
            %p
              = t("pages.enterprise")
        .card-header
          Do ustalenia
        .card-copy

        .card-stats
          %ul
            %li
              25+
              %span
                = t("pages.users")
            %li
              = t("pages.unlimited")
              %span
                = t("pages.project_entries")
    %p
      %br
      %strong
        = t("pages.free_slogan")
    = link_to new_accounts_path do
      %button Free trial

    %p
  = render "footer"
