- content_for :page_title, 'zakup'
.outer
  .container
    = I18n.t('payments.purchase')
    = simple_form_for(@payment) do |f|
      = f.error_notification
      .form-inputs
        = f.input :user_id, as: :text
        = f.input :amount
        = f.button :submit, data: { disable_with: t("loader.saving") }
